<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
</head>
<body ng-app="lyonjs">
<div class="container" ng-controller="main">
    <div class="hero-unit">
        <h1>{{hello}}</h1>
        <input type="text" ng-model="hello">
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Couleur</th>
            <th>Forme</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="carotte in carottes" ng-click="edit(carotte)">
            <td>{{carotte.couleur}}</td>
            <td>{{carotte.forme}}</td>
            <td>
                <button class="btn btn-danger" ng-click="delete(carotte)">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn" ng-click="edit({})">Add</button>
    <div class="modal fade">
        <div class="modal-header"><h3>Edit</h3></div>
        <div class="modal-body">
            <form>
                <label>Couleur</label>
                <input type="text" ng-model="carotte.couleur"/>
                <label>Forme</label>
                <input type="text" ng-model="carotte.forme"/>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" ng-click="save()">Save</button>
        </div>
    </div>
</div>

<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    var _gaq = [
        ['_setAccount', 'UA-XXXXX-X'],
        ['_trackPageview']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>

<!-- build:js scripts/jquery.js -->
<script src="components/jquery/jquery.js"></script>
<!-- endbuild -->

<!-- build:js scripts/plugins.js -->
<script src="components/sass-bootstrap/js/bootstrap-affix.js"></script>
<script src="components/sass-bootstrap/js/bootstrap-alert.js"></script>
<script src="components/sass-bootstrap/js/bootstrap-dropdown.js"></script>
<script src="components/sass-bootstrap/js/bootstrap-tooltip.js"></script>
<script src="components/sass-bootstrap/js/bootstrap-modal.js"></script>
<script src="components/sass-bootstrap/js/bootstrap-transition.js"></script>
<script src="components/sass-bootstrap/js/bootstrap-button.js"></script>
<script src="components/sass-bootstrap/js/bootstrap-popover.js"></script>
<script src="components/sass-bootstrap/js/bootstrap-typeahead.js"></script>
<script src="components/sass-bootstrap/js/bootstrap-carousel.js"></script>
<script src="components/sass-bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="components/sass-bootstrap/js/bootstrap-collapse.js"></script>
<script src="components/sass-bootstrap/js/bootstrap-tab.js"></script>
<!-- endbuild -->

<script src="components/angular/angular.js"></script>
<script src="scripts/main.js"></script>

</body>
</html>
